@font-face {
  font-family: Avenir;
  src: url('../../shared/assets/fonts/AvenirNext.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'BebasNeue';
  src: url('../../shared/assets/fonts/BebasNeue-Bold.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: BebasNeue;
  src: url("../../shared/assets/fonts/BebasNeue-Regular.woff") format('woff');
  font-weight: 400;
}

@font-face {
  font-family: Inter;
  src: url("../../shared/assets/fonts/Inter-Regular.woff") format('woff');
  font-weight: 400;
}
