$animation-props: 30s linear infinite;

.Planet {
  position: absolute;
  width: 570px;
  height: 570px;
  left: 598px;
  top: 114px;
  max-width: 570px;
  max-height: 570px;

  img {
    position: absolute;
  }

  #planet {
    z-index: 4;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 5s linear;
  }

  #orbits {
    z-index: 1;
  }

  .orbitLine {
    position: absolute;
    z-index: 2;
    transform: rotate(-90deg);

    circle {
      stroke: var(--orange-color);
      stroke-dasharray: 1526.814029601;
      stroke-dashoffset: 1526.814029601;
      animation: circle $animation-props;

      @keyframes circle {
        to {
          stroke-dashoffset: calc(1526.814029601 / 2);
        }
      }
    }
  }

  .orbitObjects {
    position: absolute;
    z-index: 3;

    #objectOne {
      animation: fadeInOne $animation-props;

      @keyframes fadeInOne {
        0%, 48% {
          opacity: 0;
        }
        50%, 100% {
          opacity: 1;
        }

      }
    }

    #objectTwo {
      animation: fadeInTwo $animation-props;

      @keyframes fadeInTwo {
        0%, 98% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }

      }
    }
  }

  .coloredText {
    position: absolute;
    z-index: 10;
    width: 800px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    ellipse {
      transition: all 5s linear;
    }

    text {
      fill: var(--orange-color);
      font-family: BebasNeue, sans-serif;
      font-weight: 700;
      font-size: 120px;
      text-shadow:
              -1.6px 0 0 var(--orange-color),
              0 1.6px 0 var(--orange-color),
              1.6px 0 0 var(--orange-color),
              0 -1.6px 0 var(--orange-color);
    }
  }

  .boundary {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    height: 480px;
    z-index: 100000;
    width: 480px;
  }
}
