.MainPage {

  display: flex;
  flex-direction: column;

  .landing {

    margin-top: 202px;
    display: flex;
    justify-content: space-between;
    .text {

      display: flex;
      flex-direction: column;
      gap: 45px;
      h1 {

        font-family: BebasNeue, sans-serif;
        font-size: 120px;
        font-weight: 700;
        line-height: 120%;
        text-shadow:
                -1px 0 0 var(--white-color),
                0 1px 0 var(--white-color),
                1px 0 0 var(--white-color),
                0 -1px 0 var(--white-color);

        span {
          color: var(--bg-color);
        }
      }

      p {
        font-size: 16px;
        font-family: Avenir, sans-serif;
        line-height: 120%;
        width: 420px;
      }
    }

    .stats {
      margin-top: 25px;
      h3 {
        font-size: 32px;
        font-family: BebasNeue, sans-serif;
        font-weight: 700;
        letter-spacing: 1px;
        line-height: 120%;
        margin-bottom: 42px;
      }

      .container {
        display: flex;
        flex-direction: column;
        gap: 16px;
        .item {
          display: flex;
          flex-direction: column;
          align-items: center;
          position: relative;
          h4 {
            font-size: 28px;
            font-family: BebasNeue, sans-serif;
            font-weight: 700;
            color: var(--orange-color);
            line-height: 120%;
          }
          p {
            line-height: 120%;
            font-size: 18px;
            font-family: BebasNeue, sans-serif;
            font-weight: 400;
          }

          &:after {
            position: absolute;
            content: ' ';
            display: block;
            width: 130%;
            height: 1px;
            background-color: var(--white-color);
            bottom: -9px;
            opacity: 0.5;
          }

          &:last-child {
            &:after {
              display: none;
            }
          }
        }

      }

    }
  }
}
